<section class="bestsellers section">
  <div class="container">
    <h2 class="section-title"><span class="accent-text">Top</span> sellers</h2>
    <ul class="bestsellers-list card-set">
      <li class="bestsellers-item card-set-item">
        <div class="bestsellers-thumb">
          <img
            class="bestsellers-img"
            src="./images/bestsellers/img-1.jpg"
            alt="CHOCOLATE WITH NUTS"
            width="368"
            height="464"
          />
          <p class="overlay">
            Chocolate with fruit is an unbeatable combination of two of the
            tastiest things in the world. This dessert combines delicate and
            aromatic chocolate with fresh and juicy fruits, creating a true
            poetry of taste.
          </p>
        </div>
        <div class="bestsellers-wrapper">
          <h3 class="bestsellers-caption">CHOCOLATE WITH NUTS</h3>
        </div>
      </li>
      <li class="bestsellers-item card-set-item">
        <div class="bestsellers-thumb">
          <img
            class="bestsellers-img"
            src="./images/bestsellers/img-2.jpg"
            alt="CHOCOLATE WITH FRUITS"
            width="368"
            height="464"
          />
          <p class="overlay">
            Chocolate with fruit is an unbeatable combination of two of the
            tastiest things in the world. This dessert combines delicate and
            aromatic chocolate with fresh and juicy fruits, creating a true
            poetry of taste.
          </p>
        </div>
        <div class="bestsellers-wrapper">
          <h3 class="bestsellers-caption">CHOCOLATE WITH FRUITS</h3>
        </div>
      </li>
      <li class="bestsellers-item card-set-item">
        <div class="bestsellers-thumb">
          <img
            class="bestsellers-img"
            src="./images/bestsellers/img-3.jpg"
            alt="DARK CHOCOLATE"
            width="368"
            height="464"
          />
          <p class="overlay">
            Chocolate with fruit is an unbeatable combination of two of the
            tastiest things in the world. This dessert combines delicate and
            aromatic chocolate with fresh and juicy fruits, creating a true
            poetry of taste.
          </p>
        </div>
        <div class="bestsellers-wrapper">
          <h3 class="bestsellers-caption">DARK CHOCOLATE</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
