<section class="hero" id="hero">
  <div class="hero-container container">
    <h1 class="hero-title">
      Treat yourself or a loved one to our&nbsp;finest ingredients for a moment
      of pure delight!
    </h1>
    <div class="hero-wrapper">
      <div class="hero-controls">
        <button class="btn btn-accent" type="button" style="--coef: 2.5">
          Buy now
        </button>
        <button class="btn btn-primary" type="button" style="--coef: 2">
          How it’s made
        </button>
      </div>
      <a class="hero-link" href="#benefits">
        scroll down
        <span class="hero-link-icon">
          <img src="./images/icons/arrow-down.svg" alt="Arow down icon" />
        </span>
      </a>
    </div>
  </div>
</section>
