<section class="ingridients section">
  <div class="container">
    <h2 class="section-title">
      It all adds up to one exceptional
      <span class="accent-text">taste</span> sensation
    </h2>
    <ul class="ingridients-list card-set">
      <li class="ingridients-item card-set-item">
        <button class="ingridients-btn" type="button">
          <svg class="ingridients-icon" width="24" height="24">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
        <img
          class="ingridients-ill"
          src="./images/ingridients/img-1.png"
          alt="MILK CHOCOLATE"
          width="214"
          height="160"
        />
        <h3 class="ingridients-caption">MILK CHOCOLATE</h3>
      </li>
      <li class="ingridients-item card-set-item">
        <button class="ingridients-btn" type="button">
          <svg class="ingridients-icon" width="24" height="24">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
        <img
          class="ingridients-ill"
          src="./images/ingridients/img-2.png"
          alt="MILK"
          width="214"
          height="160"
        />
        <h3 class="ingridients-caption">MILK</h3>
      </li>
      <li class="ingridients-item card-set-item">
        <button class="ingridients-btn" type="button">
          <svg class="ingridients-icon" width="24" height="24">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
        <img
          class="ingridients-ill"
          src="./images/ingridients/img-3.png"
          alt="NUTS"
          width="214"
          height="160"
        />
        <h3 class="ingridients-caption">NUTS</h3>
      </li>
      <li class="ingridients-item card-set-item">
        <button class="ingridients-btn" type="button">
          <svg class="ingridients-icon" width="24" height="24">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
        <img
          class="ingridients-ill"
          src="./images/ingridients/img-4.png"
          alt="SEMI - SWEET CHOCOLATE"
          width="214"
          height="160"
        />
        <h3 class="ingridients-caption">SEMI - SWEET CHOCOLATE</h3>
      </li>
      <li class="ingridients-item card-set-item">
        <button class="ingridients-btn" type="button">
          <svg class="ingridients-icon" width="24" height="24">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
        <img
          class="ingridients-ill"
          src="./images/ingridients/img-5.png"
          alt="CACAO"
          width="214"
          height="160"
        />
        <h3 class="ingridients-caption">CACAO</h3>
      </li>
      <li class="ingridients-item card-set-item">
        <button class="ingridients-btn" type="button">
          <svg class="ingridients-icon" width="24" height="24">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
        <img
          class="ingridients-ill"
          src="./images/ingridients/img-6.png"
          alt="RASPBERRY"
          width="214"
          height="160"
        />
        <h3 class="ingridients-caption">RASPBERRY</h3>
      </li>
      <li class="ingridients-item card-set-item">
        <button class="ingridients-btn" type="button">
          <svg class="ingridients-icon" width="24" height="24">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
        <img
          class="ingridients-ill"
          src="./images/ingridients/img-7.png"
          alt="COCONUT OIL"
          width="214"
          height="160"
        />
        <h3 class="ingridients-caption">COCONUT OIL</h3>
      </li>
    </ul>
  </div>
</section>
