<section class="products section">
  <div class="container">
    <h2 class="section-title">Our <span class="accent-text">products</span></h2>
    <ul class="products-list card-set">
      <li
        class="products-item card-set-item"
        data-aos="fade-right"
        data-aos-offset="340"
        data-aos-once="true"
        data-aos-delay="150"
      >
        <img
          class="products-img"
          src="./images/products/img-1.jpg"
          alt="Orange Dark chocolate"
          width="230"
          height="201"
        />
        <h3 class="products-caption">Orange</h3>
        <p class="products-type">Dark chocolate</p>
        <button class="products-btn" type="button">45 UAH</button>
      </li>
      <li
        class="products-item card-set-item"
        data-aos="fade-right"
        data-aos-offset="340"
        data-aos-once="true"
        data-aos-delay="300"
      >
        <img
          class="products-img"
          src="./images/products/img-2.jpg"
          alt="Apple&Cranberry Milk chocolate"
          width="230"
          height="201"
        />
        <h3 class="products-caption">Apple&Cranberry</h3>
        <p class="products-type">Milk chocolate</p>
        <button class="products-btn" type="button">50 UAH</button>
      </li>
      <li
        class="products-item card-set-item"
        data-aos="fade-right"
        data-aos-offset="340"
        data-aos-once="true"
        data-aos-delay="450"
      >
        <img
          class="products-img"
          src="./images/products/img-3.jpg"
          alt="Lime&Sea salt Dark chocolate"
          width="230"
          height="201"
        />
        <h3 class="products-caption">Lime&Sea salt</h3>
        <p class="products-type">Dark chocolate</p>
        <button class="products-btn" type="button">66 UAH</button>
      </li>
      <li
        class="products-item card-set-item"
        data-aos="fade-right"
        data-aos-offset="340"
        data-aos-once="true"
        data-aos-delay="600"
      >
        <img
          class="products-img"
          src="./images/products/img-4.jpg"
          alt="Pineapple Dark chocolate"
          width="230"
          height="201"
        />
        <h3 class="products-caption">Pineapple</h3>
        <p class="products-type">Dark chocolate</p>
        <button class="products-btn" type="button">54 UAH</button>
      </li>
      <li
        class="products-item card-set-item"
        data-aos="fade-right"
        data-aos-offset="340"
        data-aos-once="true"
        data-aos-delay="150"
      >
        <img
          class="products-img"
          src="./images/products/img-5.jpg"
          alt="Classic Milk chocolate"
          width="230"
          height="201"
        />
        <h3 class="products-caption">Classic</h3>
        <p class="products-type">Milk chocolate</p>
        <button class="products-btn" type="button">45 UAH</button>
      </li>
      <li
        class="products-item card-set-item"
        data-aos="fade-right"
        data-aos-offset="340"
        data-aos-once="true"
        data-aos-delay="300"
      >
        <img
          class="products-img"
          src="./images/products/img-6.jpg"
          alt="Honey Milk chocolate"
          width="230"
          height="201"
        />
        <h3 class="products-caption">Honey</h3>
        <p class="products-type">Milk chocolate</p>
        <button class="products-btn" type="button">50 UAH</button>
      </li>
      <li
        class="products-item card-set-item"
        data-aos="fade-right"
        data-aos-offset="340"
        data-aos-once="true"
        data-aos-delay="450"
      >
        <img
          class="products-img"
          src="./images/products/img-7.jpg"
          alt="Roasted fruits Dark chocolate"
          width="230"
          height="201"
        />
        <h3 class="products-caption">Roasted fruits</h3>
        <p class="products-type">Dark chocolate</p>
        <button class="products-btn" type="button">66 UAH</button>
      </li>
      <li
        class="products-item card-set-item"
        data-aos="fade-right"
        data-aos-offset="340"
        data-aos-once="true"
        data-aos-delay="600"
      >
        <img
          class="products-img"
          src="./images/products/img-8.jpg"
          alt="Classic White chocolate"
          width="230"
          height="201"
        />
        <h3 class="products-caption">Classic</h3>
        <p class="products-type">White chocolate</p>
        <button class="products-btn" type="button">54 UAH</button>
      </li>
    </ul>
  </div>
</section>
